body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    width: 400px;
    height: 400px;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(194, 184, 184, 0.1);
}

h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #0056b3;
    text-align: center;
}

input[type="text"] {
    width: calc(100% - 60px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    width: 100px;
    margin-top: 2%;
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #f9f9f9;
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

button.delete {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
}

button.delete:hover {
    background-color: #c82333;
}
